@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
    body {
        @apply bg-neutral-50 text-neutral-900 antialiased h-screen flex flex-col font-sans;
    }
}

@layer utilities {
    .pulse-dot {
        @apply w-3 h-3 bg-primary rounded-full animate-pulse;
    }
}